.nav-signout.hide,
.navbar-form p.hide,
.signup-form,
.add-event,
.add-event div[data-stage="2"],
.add-event div[data-stage="3"] {
    display: none;
}

.navbar-form p {
    display: inline-block;
    padding-right: 10px;
    color: rgb(255, 255, 255)
}

.signup-form,
.add-event {
    margin-top: 50px;
}

.signup-form p[data-email="exist"] {
    display: none;
}

.events-control {
    float: right;
}